@using Bulky.Models.ViewModels
@model HomeViewModel

<div class="row pb-3">

	<div class="card-header bg-gradient ml-0 py-4">
		<div class="col-12 text-center">
			<div class="titlecss eleven">
				<h1>@Model.title </h1>
				<br></br>
			</div>

		</div>
	</div>

	@foreach (var product in Model.Products)
	{
		<div class="col-lg-3 col-md-6">
			<div class="row p-2">
				<div class="col-12 p-1">
					<div class="card border-0 p-3 shadow border-top border-5 rounded">
						<img src="/@product.ImageUrl" class="card-img-top rounded" />

						<div class="card-body pb-0">
							<div class="pl-1">
								<p class="card-title h5 text-primary opacity-75 text-center">@product.Title</p>
								<p class="card-title text-info">by <b>@product.Author</b></p>
							</div>
							<div class="pl-1">
								<p>Liste Fiyatı: <strike><b>$@product.ListPrice.ToString("0.00")</b></strike></p>
							</div>
							<div class="pl-1">
								<p>En Düşük: <b>$@product.Price100.ToString("0.00")</b></p>
							</div>
						</div>
					</div>
					<div>
						<a asp-action="Details"
						   asp-route-productId="@product.Id"
						   class="btn btn-primary bg-gradient border-0 form-control" asp-route-productId="@product.Id">
							Details
						</a>
					</div>
				</div>
			</div>
		</div>
	}
</div>