@using Bulky.Models.ViewModels
@model HomeViewModel

@if (Model != null && Model.Categories != null && Model.Categories.Any())
{
    <div class="slider" id="slider" style="--img-prev:url('https://lh3.googleusercontent.com/aC9nyW5dhaYFmWD8fcf8DApjpH08eHEkbCHqmUPHRQ5T3jK-QyNKZYVMehmrvyPdEA_KxWvgZ3_kyOOYOAv99Ow3UoKSvEloleVKGSfLOwOyDV3Q6Dwi1G-NYoa9-t_ofmmskE6BYnVIOnIz2HWlMcijzIEwvKAL_R4z63DaLgG0z_OcGiSQHunwGAPXrBQUv42ZXuIMODq4zxDHczSxJ72b0-_udtdQK3JuT2X8nXCwFoF7GxmOpzXS0H5f50DuCbXoXcx-O7bgBMCXZdMpTxB27-wdXeLmxpYUySXgjSN2NAKmK16DmGLYvw5tMlrqwb8h4MJEEbXjP1pjPxXsahb7UZseEGyn80uLjATANJvusyJWCtzkkxYXPz-yI1rDvfEJKe2eyA-5AvFlzFBSwBMASn8f7mXinUrXMMREkJQjoi89NfZ91G7253OEVQOqcWxddiYtcHCO5v6Pl3QfV2SUTWXgggscDSY2ezjSPpYERNTXnIM_aCyWmIG7ybrfqOB0eVYBAgynyuPVbjd4KuZWZq2Dfu33HX1RuPKglbOuZGD1QbpJnruvUVkAmjDXI40ENN7X=w1600-h766')">
        <div class="slider__content" id="slider-content">
            <div class="slider__images">
                @foreach (var item in Model.Categories)
                {
                    <div class="slider__images-item @(item.Id == 1 ? "slider__images-item--active" : "")" data-id="@item.Id">
                        <img src="@item.ImageUrl" alt="@item.Name" />
                    </div>
                }
            </div>

            <div class="slider__text">
                @foreach (var item in Model.Categories)
                {
                    <div class="slider__text-item @(item.Id == 1 ? "slider__text-item--active" : "")" data-id="@item.Id">
                        <div class="slider__text-item-head">
                            <h3>@item.Name</h3>
                        </div>
                        <div class="slider__text-item-info">
                            <p>@item.Description</p>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="slider__nav">
            <div class="slider__nav-arrows">
                <div class="slider__nav-arrow slider__nav-arrow--left" id="left">to left</div>
                <div class="slider__nav-arrow slider__nav-arrow--right" id="right">to right</div>
            </div>
            <div class="slider__nav-dots" id="slider-dots">
                @foreach (var item in Model.Categories)
                {
                    <div class="slider__nav-dot @(item.Id == 1 ? "slider__nav-dot--active" : "")" data-id="@item.Id"></div>
                }
            </div>
        </div>
    </div>
}
else
{
    <p>No categories available.</p>
}
